

body{
  background:#666666;
}

li {
  border: 1px solid black;
}

.achter{
  background-image: url("image/3.jpg");
  background-size: cover;
  height:500px;
}

.aria-label{
  background: #666666;
}

.fotoalbum{
width:300px;
height:250px;
border:3px Solid black;

}
