body{
  background:#666666;
}

li {
  border: 1px solid black;
}

.achter{
  background-image: url("image/3.jpg");
  background-size : cover;
  height:500px;
}

.achterop{
  background-image :url("image/Op.jpg");
  background-size : cover;
  height:450px;
}

.aria-label{
  background: #666666;
}

.fotoalbum{
border:3px Solid black;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    z-index: 3;
    color: white;
    background-color: #6495ED;

}

@media (max-width: 768px) {
    img {
      height: 150px;
        width: 180px;
    }
    iframe{
      height:300px;
      width:200px;
    }
    .jumbotron h1{
      font-size:25px;
    }
    .jumbotron p{
      font-size:17px;
    }
    .jumbotron h2{
      font-size:15px;
    }

}

.undeline{
  text-decoration: underline;
}
